.postBody > .formsignup, .formlogin, .formpost {
    text-align: left;
}


.formsignup, .formlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 25%;
    margin: auto;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 2px 2px 5px lightgray;

    label {
        padding: 5px;
        width: 90%;

        input {
            width: 100%;
            
            &:focus-visible {
                border-color: lightgray;
            }
        }
    }

    .boutonform {
        margin-top: 20px;
        background-color: $couleur-secondaire;
        border: 2px grey solid;
        border-radius: 5px;
        font-weight: bold;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        transition: background-color 300ms;

        &:hover{
            cursor: pointer;
            background-color: #ffa8a8;
        }
    }
}


.createpost {
    padding-bottom: 30px;
}

.formpost {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        padding: 5px;
        width: 90%;

        input {
            width: 100%;
            background-color: #ffffff;
        }
    
        input[name="content"]{
            max-width: 100%;
            min-height: 200px;
            height: auto;
            word-wrap: break-word;
            color: #000000;
            margin: 0;
            padding: 10px;
        }
    }

    .boutonform {
        margin-top: 20px;
        background-color: $couleur-secondaire;
        border: 2px grey solid;
        border-radius: 5px;
        font-weight: bold;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        transition: background-color 300ms;

        &:hover{
            cursor: pointer;
            background-color: #ffa8a8;
        }
    }
}